/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{
	background-image: url(../gambar/BGbody.png);
	font:16px/28px arial, sans-serif;
}
.top-bar{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 40px;
	background-color: green;
	border-bottom: 3px solid brown;
}

.container {
	width: 950px;
	margin: 80px auto;
	background-color: #eaeaea;

	
}
.IG{
	width: 25px;
	height: 25px;
	background-image: url(../gambar/instagram.png);
	background-size: cover;
	display: inline-block;
	float: right;
	text-indent: -9999px;
	margin: 5px;
}
.header {
	font-family: arial;
	font-size: 40px;
	font-weight: bold;
	padding: 15px;
	
}
ul li{
	display: inline-block;
	margin-left: 15px;
	
}
ul li:hover {
	background-color: salmon;
	font-weight: bold;
}
.nav a{
	display: inline-block;
	text-decoration: none;
	color:green; 
}
.gmb {
	height: 400px;
	background-image: url(../gambar/read.gif);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 -50px;
	margin-top: 10px;
	border-top: 2px solid green;
	border-bottom: 2px solid brown;
	}
.conten{
	padding: 5px;
}
.main h2{
	font-size: 25px;
	font-weight: bold;
}
.main .penulis{
	font-size: 12px;
	margin-top: 3px;
}
.main p{
	margin-bottom: 20px;
	word-spacing: 5px; 
	letter-spacing: 1px;
	font-size: 18px;
}
.main .penulis a{
	text-decoration: none;
	color: brown;
}
.footer{
	background-color: brown;
	padding: 5px;
}
.footer .copy{
	color: #eaeaea;
	text-align: center;
}
.conten .main{
	width: 600px;
	padding: 10px;
	box-sizing: border-box;
	float: left;
}
.conten .sidebar{
	width: 300px;
	float: right;
}
.sidebar{
	padding-top: 15px;
}
.sidebar h3{
	font-weight: bold;
}
.sidebar img{
	margin-top: 5px;
	width: 75px;
	height: 70px;
	float: left;
	padding-right: 5px;
}
.sidebar p{
	font-size: 13px;
}








/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}